<!DOCTYPE html> 
<html> 
<head> 
    <title>View Engine Demo</title> 
</head> 
<body> 
    <h1 hx-put="/api/v1/footballers/season">get season</h1>
</body> 
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</html> 

